.uuser__np {
    display: flex;
}

.find-low{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

.find-low__icon{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.find-low__icon i {
    font-size: 25px;
}

.find-low__icon span{
    margin-top: 10px;
}


.mire-screen, .find-low {
    margin-bottom: 35px;
}

.mo {
    margin-top: 20px;
    border-top: var(--b__bar);
    padding-top: 20px;
    border-bottom: none
}

.mo_t {
    margin-bottom: 15px;
}

.mo_i {
    display: flex;

}

.mo_ii{
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mo_iim {
    width: 60px;
    height: 60px;
    background-color: var(--yellow);
    justify-content: center;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.mo_iim i{
    font-size: 32px;
    color: white;
    
}

.mo_ii span{
    font-size: 11px;
}