.screen-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--horizontal-space);
    margin-top:25px;
    margin-bottom:15px;
}

.screen-header__title{
    font-size: 30px;
    font-weight: 600;
}

.screen-header__icon span{
    margin-left: 10px;
}
.s-h-r{
position: relative;
}

.screen__o {
    background-color: tomato;
    width: 5px;
    height: 5px;
    display: flex;
    border-radius: 2.5px;
    position: absolute;
    left: 930px;
    top: 20px;
}

.screen-header a{
    text-decoration: none;
    color: black
}

.screen-header__icon {
    font-size: 10px;
}